<form action="alunos" method="POST">
  <div class="row">
    <div class="col-auto">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" value="WANDEIR CARNEIRO" />
    </div>
    <div class="col-auto">
      <label for="rg" class="form-label">RG:</label>
      <input type="text" class="form-control" id="rg" name="rg" value="123456789" />
    </div>
    <div class="col-auto">
      <label for="cpf" class="form-label">CPF:</label>
      <input type="text" class="form-control" id="cpf" name="cpf" value="12312312344" />
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <input type="submit" value="Gravar" class="btn btn-md btn-primary" />
    </div>
  </div>
</form>
